@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@keyframes rotacion {
  from {background-position-y: 0;}
  to {background-position-y: -1800px;}}
html {
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: url(https://i.imgur.com/6LSbJBm.jpg);
  height: 100vh;
  width: 100%;
  background-size: auto;
  background-position-x: 35%;
  overflow-x: hidden;
  animation: rotacion 30s alternate ease-in-out infinite;
}
header {
  height: 10vh;
  width: auto;
  margin: 2% 1%;
  display: flex;
  align-items: center;
  float: right;
}
.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vh;
  height: 10vh;
}
.list li {
  list-style: none;
}
.list a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
