@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 2384;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 2384;
  }
  90% {
    fill: rgba(255,255,255,0);
  }
  100% {
    opacity: 10;
    fill: rgba(255,255,255,1);
    stroke-dashoffset: 0;
  }
}
@keyframes border-animation {
  from {
    color: white;
  }
  to {
    color: gray;
  }
}
html, body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(102,102,102,1) 100%);
  height: fit-content;
  width: 100%;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.list li {
  list-style: none;
  margin: 0;
}
.list a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  border-bottom: none;
  &:hover {
    color: gray;
    border-bottom: 2px solid white;
    animation: border-animation 0.5s ease;
  }
}
#firma{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
path {
  stroke: #ffffff;
  fill: #ffffff;
  stroke-dasharray: 2384;
  opacity: 10;
  animation: animate 2.5s cubic-bezier(.17,.67,.83,.67);
}
section {
  background-color: black;
  color: white;
  top: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.section_1 {
  height: 100vh;
  width: 100%;
}
.section_2 {
  height: 100vh;
  width: 100%;
}
p {
  width: 80%;
}